@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@if (Column != null)
{
    var footerTemplate = Column.GetFooterTemplate();
    <td class="@Classname" style="@Stylename" colspan="@Column.FooterColSpan" @attributes="@UserAttributes">
        @if (Column.AggregateDefinition != null)
        {
            var aggregateTemplate = Column.GetAggregateTemplate();
            @(aggregateTemplate is null 
                ? builder => builder.AddContent(0, Column.AggregateDefinition?.GetValue(Column.PropertyExpression, items))
                : aggregateTemplate(items))
        }
        else if (footerTemplate != null)
        {
            @footerTemplate(Column.footerContext)
        }
    </td>
}
